/_time
/changelog/local-version.js
/contents/conf/pages/home-pane.css
/excluded
/index.prod.html
/addendum.prod.html
/prod
/sites
contents/b1sec2prop7-progress
src/plugins/balls3d
src/plugins/flame
src/plugins/particles
src/plugins/chem-equilib
src/plugins/gas-particles
src/plugins/phys-ideal-gas
src/plugins/dynoribbon
src/plugins/vend
.vscode
