/*~~~~~~~~~~~~~~~~~~~~
Styles for the model slider range
~~~~~~~~~~~~~~~~~~~~*/
.slider-group {
    padding-top : 10px;
    padding-bottom : 10px;
    z-index : 100;
}
  
input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 100%;
    /* Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */
    height: 0px !important; 
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; 
}
  
input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ 
}
  
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    -moz-appearance: none;
    height: 0px !important;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent; 
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid var(--color-main);
    height: 12px;
    width: 12px;
    border-radius: 40px;
    background: var(--color-white);
    cursor: pointer;
    margin-top: -5px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */ 
}
  
/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    border: 2px solid var(--color-main);
    height: 8px;
    width: 8px;
    border-radius: 40px;
    background: var(--color-white);
    cursor: pointer; 
}
  
/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    border: 2px solid var(--color-main);
    height: 12px;
    width: 12px;
    border-radius: 40px;
    background: var(--color-white);
    cursor: pointer; 
}
  
input[type=range] {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: var(--color-main);
    border-radius: 1.3px;
    margin: 0 auto; 
}
  
input[type=range]::-webkit-slider-runnable-track {
    width: 40%;
    height: 2px;
    cursor: pointer;
    background: var(--color-main);
    border-radius: 1.3px;
    margin: 0 auto; 
}
  
input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--color-main); 
}
  
input[type=range]::-moz-range-track {
    width: 90%;
    height: 2px;
    cursor: pointer;
    background: var(--color-main);
    border-radius: 1.3px;
    margin: 0 auto; 
}
  
input[type=range]::-ms-track {
    width: 40%;
    height: 2px;
    cursor: pointer;
    background: var(--color-main);
    border-radius: 1.3px;
    color: transparent;
    margin: 0 auto; 
}
  
input[type=range]::-ms-fill-lower {
    width: 40%;
    height: 0px;
    cursor: pointer;
    background: var(--color-main);
    border-radius: 1.3px;
    margin: 0 auto; 
}
  
input[type=range]:focus::-ms-fill-lower {
    background: var(--color-main); 
}
  
input[type=range]::-ms-fill-upper {
    width: 40%;
    height: 0px;
    cursor: pointer;
    background: var(--color-main);
    border-radius: 1.3px;
    margin: 0 auto; 
}
  
input[type=range]:focus::-ms-fill-upper {
    background: var(--color-main); 
}
  
.slider {
    width: 40%; 
}
  
#mySlider {
    z-index: 1;
    margin-bottom: 8px;
}
  
.slider-label {
    text-align: center;
    display: inline-block;
    margin: 0 auto; 
}