/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,800,900"); */


/* fixes for bully css-reset-tool */
sub {
    vertical-align: sub;
    font-size: smaller;
}

/* fixes for bully css-reset-tool */
sup {
    vertical-align: super;
    font-size: smaller;
}

/******************************************/
/* //|| page primary sections             */
/* ||// bsl--svgscene                     */
/* ||// media pane                        */
/******************************************/

/* setting specifity prevaling "hidee-feature" cssClass */
div.bsl-approot svg.bsl--svgscene .undisplay,
.display-none {
    display : none;
}

/* enables original-figure-picture disappearance */
/* at version 1112, restored by client request */
/* todm: .in-study must be lemma-wise flag, not image-wise */
.bsl-bg-image.in-study {
    opacity:0;
    transition: opacity 1s ease;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
/* this really solved firefox problem of "shadow-dragging-object"
    the problem tested and logged in 
    83-current-svg-firefox-problems.zip
    as of June 12, 2019 ( a year later we don't see this problem in FF )
    circle.movable { user-select: none; .... 
*/
.highlight-text-disabled,
.menu-teaf,
.master-pagination-btn,
.bsl--svgscene text {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

/*================================*/
/*================================*/

#bsl-resizable-handle {
    display: flex;
    align-items: center;
    left: 0px;
    top: 0;
    margin: 0 4px;
    position: absolute;
    height: 100%;
    cursor: grab; /* overrides dynamic overlay */
    background-color: #cccccc;
}

/* .brc-slider-draggee {
    display: block;
    background-color: red;
} */
.brc-slider-draggee.dividor:hover:after {
    background-color: transparent;
}        


/*========================================*/
/* //|| mobile                            */
/*========================================*/
/* todm non-consistent style set, must be dynamic by box-tester as for other parts */
/* value corresponds to MOBILE_MEDIA_QUERY_WIDTH_THRESHOLD : 70; in contents/conf/conf.js */
@media screen and (max-width: 790px) {
    
    #bsl-resizable-handle {
        display: none;
    }
}

/*========================================*/
/* ||// mobile                            */
/*========================================*/



/*====================================*/
/* \\// main-legend (data tables)     */
/*====================================*/

.main-legend { /* data table */
    table-layout : auto;
    box-sizing   : border-box;
    margin-left  : auto; /* table is centered within .bsl-legend-root */
    margin-right : auto;
    margin-bottom : 2rem; /* ensures layout shifts don't push table below the fold */
}

.bsl-legend-root table { /* bc L2, L3 'tables' are given .main-lengend class, even though they aren't tables... */
    border: 2px solid var(--border-color);
}

.main-legend.hidden {
    display:none;
}

.main-legend td {
    text-align: center;
    font-size: 14px;
    padding: 2px 0.5rem 2px 2rem !important;
    text-align: right;
    min-width: 5rem;
    border: 1px solid var(--border-color);
    white-space: nowrap; /* keeps everything on one line */

    /* this is a brute force way to specify opacity for table data 
        without affect TP_OPACITY values used in the models,
        however, it prevents dynamic opacity change on hover */
    opacity: 1 !important;
}

.main-legend td.monospace {
    font-family : var(--data-numerical-font);
}

.main-legend td.table-caption {
    padding-bottom: 4px;
    text-align: center !important;
    font-weight: bold;
}

.main-legend td.value {
    font-family: var(--data-numerical-font);
    padding-left: 0.5rem !important;
    text-align: left;
    height: 1rem; /* so vertical spacing stays constant when value is "at limit" */
    border-right: 2px solid var(--border-color);
}

/* small gap row for logical grouping */
.main-legend .tp-spacer {
    height: 1px !important;
    padding: 0 !important;
}

/* make two cells look like one (used in P17) */
.main-legend .merge-cells:nth-child(odd) {
    border-right: 0 !important;
}
.main-legend .merge-cells:nth-child(even) {
    border-left: 0 !important;
    position: relative;
    left: -4rem;
}

/* patch for L7 corollaries */
/* todo: change main-lengend framework to handle multiple corollary tables */
.main-legend .tp-hidden {
    display: none;
}

.main-legend .eq-sign {
    text-align:center;
} 

.main-legend .limit {
    font-family: var(--font-condensed);
}  

/* graphs in P6, P7, etc ...weird name */
.lost-diagram-parent {
    padding-bottom: 2rem; /* so there's space between graph and data table */
    margin: auto;
}

/*todm: should be automated */
.logic_phase--claim .main-legend.proof,
.logic_phase--corollary .main-legend.proof {
    display:none;
}
/* visibility per model-mode */
.logic_phase--corollary .main-legend.claim,
.logic_phase--proof .main-legend.claim {
    display:none;
}
/* visibility per model-mode */
.logic_phase--claim .main-legend.corollary,
.logic_phase--proof .main-legend.corollary,
.main-legend.corollary_2, .main-legend.corollary_3 {
    display:none;
}

@media (max-width: 900px) {
    .main-legend td {
        font-size:11px;
    }
}

@media (max-width: 850px) {
    .main-legend td {
        font-size:10px;
    }
}

@media (max-width: 800px) {
    .main-legend td {
        font-size:13px;
    }
}

@media (max-width: 600px) {
    .main-legend {
        position:static;
        width:100%;
    }
}

/*====================================*/
/* \\// main-legend                   */
/*====================================*/

/* //==================================
// //\\ model help
//================================== */

.model-help {
    cursor: pointer;
    opacity:1;
}

/* //==================================
// \\// model help
//================================== */

.hidden {
    visibility : hidden;
};

a:link{
    color:var(--color-main);
}

a:visited{
    color:var(--color-main);    
}

/*====================================*/
/* \\// main-legend                   */
/*====================================*/
/* // \\// css /////////////////////////////////////////

///default lemma svg settings,
///to be overridedn by lemma-css-policy

// (remember, in-line attributes are still suppressed)
// or inline-css,

// this fixes some pages, but probably makes default
// color dependent on browser
//            xxxxstroke          : black;
//            xxxxfill            : black;
//
///todm: should be in sapp module, not "full app" module, */
/* todo: why wasn't this just appended to ret? */
/* globalCss.update( ` */
        .bsl-simscene svg text {
            font-size       : 12px;
            font-style      : normal;
            stroke-width    : 0.1;
            font-family     : var(--default-font);
            stroke          : black;
            fill            : black;
        }
    /* `,
    'svg-text-special'
); */
