/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,800,900"); */


/* fixes for bully css-reset-tool */
sub {
    vertical-align: sub;
    font-size: smaller;
}

/* fixes for bully css-reset-tool */
sup {
    vertical-align: super;
    font-size: smaller;
}

/******************************************/
/* //|| page primary sections             */
/******************************************/

/* vital */
/*
.bsl-menu-filler { 
    height: ${fconf.attach_menu_to_essaion_root ? 65 : 90}px;
}
*/

/* //=======================================
// //\\ visib
//=======================================
//svg display
//display-inline-and-block-on-svg-elements
//https://stackoverflow.com/questions/41437423/difference-between- */
/* idea:
    .display-block {
        display : block;
    }
*/

.bsl-approot .bsl--svgscene .undisplay,
.display-none {
    display : none;
}

/* //this was an outdated code, but it may give a clue
//.bsl-approot.submodel--common .bsl-simscene.submodel--common,
//todo why do we need make it displayed explicityly?
//because of it was: .bsl-simscene, {display : none;}
//ret += `.bsl-approot .bsl-simscene { display : block;}`;
//=======================================
// \\// visib
//======================================= */

/* enables original-figure-picture disappearance */
/* at version 1112, restored by client request */
/* todm: .in-study must be lemma-wise flag, not image-wise */
.bsl-bg-image.in-study {
    opacity:0;
    transition: opacity 1s ease;
}

/*================================*/
/* //|| bsl--svgscene                */
/*      .bsl--svgscene === svg       */
/*================================*/

/*
    moved to separate more specific settings module for collection of sites:
    .bsl-bg-image {
        width:100%;
    ...
*/

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
/* this really solved firefox problem of "shadow-dragging-object"
    the problem tested and logged in 
    83-current-svg-firefox-problems.zip
    as of June 12, 2019 ( a year later we don't see this problem in FF )
    circle.movable { user-select: none; .... 
*/
.highlight-text-disabled,
.menu-teaf,
.master-pagination-btn,
.bsl--svgscene text {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
/*================================*/
/* ||// bsl--svgscene             */
/* ||// media pane                */
/*================================*/

.bsl-sim-superscene .grab {
    cursor : grab;
}

#bsl-resizable-handle {
    display: flex;
    align-items: center;
    left: 0px;
    top: 0;
    padding: 0 8px;
    position: absolute;
    height: 100%;
    cursor: grab;
}

#bsl-resizable-handle:hover {
    background: var(--colorLight);
}

.brc-slider-draggee.dividor:hover:after {
    background-color: transparent;
}        

/* patch: should be nicely disabling divide-panes-functionality todm */
/*
#bsl-resizable-handle {
    top:-300%;
}
*/
/*---------------------------*/
/* \\// horizontal resizer   */ 
/*---------------------------*/

/*========================================*/
/* //|| mobile                            */
/*========================================*/
/* todm non-consistent style set, must be dynamic by box-tester as for other parts */
/* value corresponds to MOBILE_MEDIA_QUERY_WIDTH_THRESHOLD : 70; in contents/conf/conf.js */
@media screen and (max-width: 790px) {
    
    #bsl-resizable-handle {
        display: none;
    }
}

/*========================================*/
/* ||// mobile                            */
/*========================================*/


/* //========================================
// //\\ main-legend                       
//      the only reason for "flex"
//      it make table narrow ...
//      otherwise, margin may solves all
//======================================== */

.bsl-legend-root {
    box-sizing   : border-box;
    text-align   : center;
}

.main-legend {
    table-layout : auto;
    box-sizing   : border-box;
    margin-left  : 15px;
    margin-right : 15px;
}

.main-legend td {
    text-align:center;
}
.main-legend td.monospace {
    font-family : var(--data-numerical-font);
}

.main-legend.hidden {
    display:none;
}

/*todm: should be automated */
.textSection--claim .main-legend.proof,
.textSection--corollary .main-legend.proof {
    display:none;
}
/* visibility per model-mode */
.textSection--corollary .main-legend.claim,
.textSection--proof .main-legend.claim {
    display:none;
}
/* visibility per model-mode */
.textSection--claim .main-legend.corollary,
.textSection--proof .main-legend.corollary,
.main-legend.corollary_2, .main-legend.corollary_3 {
    display:none;
}

.main-legend td {
    padding:1px;
    /* for dev mode: border: 1px solid black; */
}


/*====================================*/
/* //\\ table formatter               */
/*====================================*/
.main-legend td {
    text-align:left;
}
.main-legend td.table-caption {
    padding-bottom:4px;
    text-align:center !important;
    font-weight:bold;
}
.main-legend td.align-to-right,
.main-legend tr td:first-child {
    text-align:right;
}
.main-legend td:first-child, .proof td:nth-child(4), .corollary td:nth-child(4) {/* bc labels aren't given their own class */
    min-width: 7em !important;
    text-align:right;
}
.main-legend td.value {
    font-family: var(--data-numerical-font);
    width: 5rem;
    padding-left: 1rem !important;
    height: 1rem; /* so vertical spacing stays constant when value is "at limit" */
}
.main-legend .eq-sign {
    text-align:center;
}  
.main-legend .limit {
    font-family: var(--font-condensed);
}  


/*------------*/
/* //\\ mix   */
/*------------*/
.main-legend.claim,
.main-legend.proof {
    border-collapse: separate;
    border-spacing: 10px 0px;
}

.claim.row1,
.corollary.row1,
.proof.row1 {
    opacity:0;
}
/*------------*/
/* \\// mix   */
/*------------*/

/*====================================*/
/* \\// table formatter               */
/*====================================*/

.main-legend td {
    font-size:14px;
}

@media (max-width: 900px) {
    .main-legend td {
        font-size:11px;
    }
}

@media (max-width: 850px) {
    .main-legend td {
        font-size:10px;
    }
}

@media (max-width: 800px) {
    .main-legend td {
        font-size:13px;
    }
}

@media (max-width: 600px) {
    .main-legend {
        position:static;
        width:100%;
    }
}

/* //==================================
// //\\ model help
//================================== */

.model-help {
    cursor: pointer;
    opacity:1;
}
.video-help-button {
    cursor: pointer;
    opacity:0.2;
}
.video-help-button:hover,
.model-help:hover {
    opacity:1;
}

/* todo: this was only added conditionally, why? if( fconf.appDecor.helpBox_opacity0 ) */
/* but also, it should be pointer, why set to auto at all? */
/* .video-help-button,
.model-help {
    cursor: auto;
} */

/* //==================================
// \\// model help
//==================================


//==================================
// //\\ video
//================================== */

.bsl-showreel-video-wrap {
    position:relative;
    margin-bottom:10px;
    background-color:transparent; /*#DDDDDD;*/
    left        :50%;
    transform   :translate(-50%,0%);
}

.bsl-showreel-video,
.bsl-showreel-video-iframe{
    position:absolute;
    width:96%;
    height:96%;
    left:50%;
    top:50%;
    transform   :translate(-50%,-50%);
    background-color:#DDDDDD;
}

.bsl-close-html-button {
    position:absolute;
    width:20px;
    height:20px;
    border-radius:15px;
    right:-20px;
    top:10px;
    padding-top:5px;
    padding-left:9px;
    color:white;
    font-size:16px;
    font-weight:bold;
    background-color:rgba(0,0,0,1);
    cursor:pointer;
    opacity:1;
    z-index:1000;
}

/* //==================================
// //\\ video icon
//================================== */

.video-icon-img-container > img {
    position:relative;
    /* version 1685: because of not perfect design,
       the jerk of caption happens when this number
       is greater than 18px
    */
    width:18px;
    top:1px;
}
.video-list-popup .video-icon-img-container > img {
    top:2px;
    vertical-align:middle;
}

/* //==================================
// \\// video icon
//================================== */

.hidden {
    visibility : hidden;
};

a:link{
    color:var(--color-main);
}

a:visited{
    color:var(--color-main);    
}

/*====================================*/
/* \\// main-legend                   */
/*====================================*/
/* // \\// css /////////////////////////////////////////

///default lemma svg settings,
///to be overridedn by lemma-css-policy

// (remember, in-line attributes are still suppressed)
// or inline-css,

// this fixes some pages, but probably makes default
// color dependent on browser
//            xxxxstroke          : black;
//            xxxxfill            : black;
//
///todm: should be in sapp module, not "full app" module, */
/* todo: why wasn't this just appended to ret? */
/* globalCss.update( ` */
        .bsl-simscene svg text {
            font-size       : 12px;
            font-style      : normal;
            stroke-width    : 0.1;
            font-family     : var(--default-font);
            stroke          : black;
            fill            : black;
        }
    /* `,
    'svg-text-special'
); */